

.video-responsive {
    overflow: hidden;
    padding-bottom: 99%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: none;
    margin:0;
    position: fixed;
    padding:0;
    overflow:hidden;
    z-index:999999;
  
  }

.video-background {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.head-text {
    position: relative;
 }
 .overlay {
  position:absolute;
  z-index:9999999999;
  right: 25%;
 }
body{
    font-family: 'Righteous';
    font-size: 5vw;
    
}

h3{
  color: rgb(128, 18, 18);
  background-color: #fff;
  
}

h1 {
  box-shadow:none;
  color: rgb(150, 0, 0);
 
  background-color: #fff;
 
  
}

a{

  text-decoration:none;
  color: rgb(172, 5, 5);
 
}

h1:hover {
  box-shadow: inset 0 0 50px black;
  opacity: 0.5;
  transform: scale(0.6);
  transition-duration: 0.5s;
}
h2:hover {
  transform: scale(0.6);
  transition-duration: 0.5s;
  opacity: 0.5;
  background-color: #fff;
}

h3:hover {
  transform: scale(0.6);
  transition-duration: 0.5s;
  opacity: 0.5;
}